extends ./layout.pug

block content
  .grid-content





  .grid-block
  #sidebar.first.medium-6.show-for-medium.grid-block
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.033599546991!2d-95.01139638498266!3d38.694072466509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0a88d067a3673%3A0xa8b135055ef10c07!2s36495+W+239th+St%2C+Edgerton%2C+KS+66021!5e0!3m2!1sen!2sus!4v1476744215351', width='100%', height='auto', frameborder='0', style='border:0', allowfullscreen='')
  .second.medium-6.grid-block
    #search.small-12.medium-12.grid-content
      label
        span.inline-label
          input(type='search', placeholder='Search a location or product')
          a.button(href='#') Search
    .small-11.medium-12.large-6.grid-content.card-container
      .card
        img(src='http://placekitten.com/g/400/200')
        .card-divider
          This is a header
        .card-section
          h4 Look at This Swag Card
          p
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.
    .small-11.medium-12.large-6.grid-content.card-container
      .card
        img(src='http://placekitten.com/g/400/200')
        .card-divider
           This is a header
        .card-section
          h4 Look at This Swag Card
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.
    .small-11.medium-12.large-6.grid-content.card-container
    .card
  .card-section
    p The most basic elements in the Foundation for Apps grid are the Group and Block.

      .card
        img(src='http://placekitten.com/g/400/200')
        .card-divider
          | This is a header
        .card-section
          h4 Look at This Swag Card
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.
  .login-buttons
    a.info.button(ui-sref='login', href='') Login
    a.info.button(ui-sref='signup', href='') Sign Up
