head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Foundation for Apps
  link(href="./assets/css/app.css" rel="stylesheet" type="text/css")
  script(src="./assets/js/foundation.js")
  script(src="./assets/js/templates.js")
  script(src="./assets/js/routes.js")
  script(src="./assets/js/app.js")
