div(style="padding: 0;").grid-block.shrink.wrap
  .grid-content.collapse.small-12.medium-6
    ul.primary.menu-bar
      li
        a(href="#")
          strong Organic Farms Network
  .grid-content.collapse.small-12.medium-6
    ul.primary.menu-bar
      li
        a(href="#") About
      li
        a(href="#") Contact
      li
        a(href="#") Blog
